{% extends "main/base.html" %}

{% block titel %} Show List {% endblock %}

{% block content %}
	<h1>{{ls.name}}</h1>
	<form method="POST" action="#">
		{% csrf_token %}
		<ul>
			{% for i in ls.item_set.all %}
				{% if i.complete == True %}
					<li> <input type="checkbox" value="checked" name="c{{i.id}}" checked> {{i.text}} - COMPLETE</li>

					{% else %} 
						<li> <input type="checkbox" value="checked" name="c{{i.id}}"> {{i.text}} - INCOPLETE </li>
				
				{% endif%}
			{% endfor%}
		</ul>
		<button type="submit" name="save" value="save">Save</button>
		<input type="text" name="newItemField">
		<button type="submit" name="newItem" value="newItem">Add Item</button>
	</form>

{% endblock%}

